# Combined contents of local and remote .gitignore
*.log
*.tlog
*.obj
*.tmp
*.TMP
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.opendb
*.nupkg
node_modules/
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bin/
obj/
.idea/
.vscode/
.DS_Store
Thumbs.db